# <p style="text-align: center;">1994 Census Data Analysis</p>
### <p style="text-align: center;">By John Pierre</p>

In [30]:
import pandas as pd

df = pd.read_csv(r'adult.data.csv')

print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [32]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [33]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count.index.name = 'race'

print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [34]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [35]:
# Average age of men?
average_age_men = round(df[df['sex'] == 'Male']['age'].mean())
print(average_age_men)

39

In [36]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round((df['education'] == "Bachelors").mean() * 100, 1)
print(percentage_bachelors)

16.4

In [37]:
# Percentage with advanced education (Bachelors, Masters, or Doctorate) that make more than 50K
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
higher_education = df[df['education'].isin(advanced_education)]
percentage_more_than_50k = round((higher_education['salary'] == '>50K').mean() * 100, 1)
print(percentage_more_than_50k)

46.5

In [38]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [39]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == min_work_hours]
rich_percentage = round((num_min_workers['salary'] == ">50K").mean() * 100, 1)

print(rich_percentage)

10.0

In [40]:
# What country has the highest percentage of people that earn >50K?
country_counts = df['native-country'].value_counts()
rich_country_counts = df[df['salary'] == '>50K']['native-country'].value_counts()
country_percentages = (rich_country_counts / country_counts * 100).fillna(0)
highest_earning_country_percentage = round(country_percentages.max(), 1)
highest_earning_country = country_percentages.idxmax()

print(highest_earning_country)

Iran

In [41]:
# Identify the most popular occupation for those who earn >50K in India.
rich_occupations_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts()
top_IN_occupation = rich_occupations_india.idxmax()

print(top_IN_occupation)

Prof-specialty